.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.restaurant-logo {
    padding: 9px;
}

.restaurant-logo img {
    padding: 5px;
    height: 100px;
    width: 100px;
}

.nav-links > ul {
    display: flex;
}

.nav-links > ul > li {
    margin: 15px;
    padding: 24px;
    list-style-type: none;
}

.body {
    border: 1px solid black;
}

.searchbar {
    display: flex;
    margin: 10px;
}

.searchbar > div {
    margin: 10px;
}

.search-submit button {
    background-color: blueviolet;
}

.restaurant-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}


.restaurant-card {
    width: 200px;
    padding: 5px;
    margin: 10px;
    display: grid;
    justify-content: center;
    background-color: #f0f0f0;
}

.restaurant-card:hover {
    border: 1px solid black;
    cursor: pointer;
}

.restaurant-card h3,h4 {
    height: 10px;
    width: 200px;
    word-wrap: break-word;
}

.restaurant-card img {
    height: 150px;
    width: 200px;
}

.footer {
    border: 1px solid black;
}

.shimmer-container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: 35px;
}

.shimmer-card {
    width: 200px;
    padding: 5px;
    height: 300px;
    margin: 10px;
    background-color: #f0f0f0;
}

